/* This is needed to override react-big-calendar */

.rbc-month-view {
  z-index: 0;
}

.rbc-event {
  background-color: #2aab64 !important;
}

.rbc-active {
  background-color: #7945C2 !important;
  /* background-color: #9245cf !important; new purple to be used when ui update is done*/ 
  color: white !important;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
