/* This is needed to override react-big-calendar */

.rbc-month-view {
  z-index: 0;
}

.rbc-event {
  background-color: #2aab64 !important;
  border: 1.5px solid transparent !important;
}

.rbc-toolbar .rbc-toolbar-label {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.rbc-calendar .rbc-toolbar {
  background: #623aac;
  border-radius: 5px;
  padding: 1rem;
  justify-content: flex-start;
}

.rbc-calendar .rbc-toolbar .rbc-btn-group button {
  background-color: #623aac;
  color: #ffffff;
}

.rbc-calendar .rbc-toolbar .rbc-btn-group button:hover,
.rbc-calendar .rbc-toolbar .rbc-btn-group button:focus,
.rbc-calendar .rbc-toolbar .rbc-btn-group span button.rbc-active {
  background-color: #ffffff;
  color: #5230b5;
}

.rbc-calendar .rbc-toolbar .rbc-btn-group button.rbc-active {
  background-color: #ffffff;
  color: #5230b5;
}

.rbc-event:hover,
.rbc-event:focus {
  background-color: #1d9e57 !important;
  border: 1.5px solid #18633a !important;
}

.rbc-row-segment button.rbc-event {
  border: 1.5px solid transparent;
  background-color: #2aab64;
}

.rbc-row-segment .rbc-event:hover,
.rbc-row-segment .rbc-event:focus {
  background-color: #1d9e57;
  border: 1.5px solid #18633a;
}

.rbc-toolbar .rbc-btn-group button:hover {
  cursor: pointer;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 590px) {
  .rbc-toolbar {
    flex-direction: column;
  }

  .rbc-toolbar .rbc-toolbar-label {
    margin: 0.5rem 0;
    order: 1;
  }

  .rbc-toolbar .rbc-btn-group {
    margin: 0.5rem 0;
    order: 2;
  }
}
