span.crt-post-username a {
  text-decoration: none;
}
div.crt-post .crt-post-border {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.crt-feed-scroll {
  background: #fafafa;
  padding-top: 1rem;
}

.crt-post a {
  color: #5230b5 !important;
  font-weight: bolder;
  text-decoration: none;
}

.crt-post-fullname {
  text-transform: uppercase;
}

.crt-post-content-text {
  color: #555 !important;
  padding-top: 1rem;
}

.crt-button {
  border: 1.5px solid transparent;
}
/* button gains border and inner box shadow on hover */
.crt-button:hover {
    border: 1.5px solid #bab8b8;
    box-shadow: inset 0 0 3px #bab8b8;
    transition: all 0.2s ease 0s;
}

.crt-popup-wrapper .crt-popup .crt-close {
  color: rgba(78, 78, 78, 0.5);

}
/* icon is washed out color and becomes solid on hover */
.crt-popup-wrapper .crt-popup .crt-popup-footer .crt-post-share i {
  color: rgba(78, 78, 78, 0.5);
}

.crt-popup-wrapper .crt-popup .crt-popup-footer .crt-post-share i:hover {
  color: #666;
}
